/* body {
    background: url("https://stmed.net/sites/default/files/forest-wallpapers-27863-5657410.jpg");
    background-color: black;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
} */
