/* body {
    background: url("https://static01.nyt.com/images/2018/02/25/realestate/25SUBURBS-slide-X8YZ/25SUBURBS-slide-X8YZ-superJumbo.jpg?quality=75&auto=webp&disable=upscale");
    background-color: black;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: center;
} */
